@charset "utf-8";

@import "compass/css3";
@import "compass/reset";
@import "highlight";

$top-color: #D6EFFC;
$bottom-color: #00A9A9;

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  @include background-image(url(/images/noise.png), linear-gradient($top-color, $bottom-color 1000px));
  background-color: $bottom-color;
}

body {
  padding-top: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

header {
  background: url(/images/logo.png) no-repeat center;
  height: 150px;
  background-size: auto 100%;
  text-indent: -999em;
}

footer {
  margin-top: 24px;
  padding: 16px;
  background-color: rgba(0,0,0,0.6);
  color: #eee;
  text-align: center;

  a {
    margin: 0 9px;
  }

  p {
    margin: 12px 0;
  }
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

#github img {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

#content {
  @include box-shadow(0 0 7px rgba(0,0,0,0.4));

  width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;

  .blurb {
    width: 100%;
    background-color: #a6e6e6;
    color: #022;
    margin: 0 auto 20px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 150%;

    p {
      margin: 0;
    }

    p + p {
      margin-top: 18px;
    }
  }

  code {
    font-family: Menlo, Monaco, monospace;
    font-size: 100%;
    color: #577;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }

  h2 {
    color: #255;
    margin-top: 20px;
    border-bottom: 2px solid #699;
    padding: 0 5px 5px 5px;
    font-size: 20px;
    font-weight: bold;
  }

  p {
    margin: 10px 0;
    line-height: 150%;
  }

  img {
    width: 100%;
    background-color: #fff;
    border: 1px solid $bottom-color;
    border-radius: 10px;
    box-shadow: 0 0 5px $bottom-color;
  }

  .diagram {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    @include box-shadow(0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1));

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .CodeRay td.code {
    background-color: rgba(255, 255, 255, 0.7);
  }

  li {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 24px;
    color: #699;

    &::first-line {
      color: #366;
    }

    strong {
      padding: 5px;
      font-family: Menlo, Monaco, monospace;
      font-weight: bold;
      color: #144;
    }
  }
}
