/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 9, highlight.css.scss */
#content .highlight {
  background-image: url(/images/code_background.gif);
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: Menlo, monospace;
  line-height: 16px;
  overflow: hidden;
  position: relative;
  margin: 2em 0;
  -webkit-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1); }
  /* line 21, highlight.css.scss */
  #content .highlight table {
    margin: 0 0; }
  /* line 25, highlight.css.scss */
  #content .highlight .ribbon {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 52px;
    height: 20px; }
  /* line 33, highlight.css.scss */
  #content .highlight.javascript .ribbon, #content .highlight.js .ribbon {
    background-image: url(/images/js-ribbon.png); }
  /* line 36, highlight.css.scss */
  #content .highlight.html .ribbon {
    background-image: url(/images/html-ribbon.png); }
  /* line 39, highlight.css.scss */
  #content .highlight.handlebars .ribbon {
    background-image: url(/images/handlebars-ribbon.png); }

/* line 44, highlight.css.scss */
.CodeRay {
  width: 100%;
  /* HTML */ }
  /* line 46, highlight.css.scss */
  .CodeRay td.line-numbers {
    width: 38px;
    text-align: center;
    border-right: 1px solid #d1d1d1;
    background-color: #f6f6f6;
    color: #b4b4b4;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  /* line 56, highlight.css.scss */
  .CodeRay td.code {
    padding: 8px 0 8px 13px; }
  /* line 61, highlight.css.scss */
  .CodeRay .tag {
    color: #1f58ce; }
  /* line 65, highlight.css.scss */
  .CodeRay .comment {
    color: #777777; }
  /* line 69, highlight.css.scss */
  .CodeRay .attribute-name {
    color: #1f58ce; }
  /* line 73, highlight.css.scss */
  .CodeRay .content {
    color: #153c8c; }
  /* line 77, highlight.css.scss */
  .CodeRay .string {
    color: #1f58ce; }
  /* line 81, highlight.css.scss */
  .CodeRay .keyword {
    color: #ce791f; }
  /* line 85, highlight.css.scss */
  .CodeRay .key, .CodeRay .function {
    color: #2b1fce; }
  /* line 89, highlight.css.scss */
  .CodeRay .local-variable {
    color: #1f58ce; }

/* line 99, highlight.css.scss */
.handlebars .CodeRay .inline,
.handlebars .CodeRay .inline .inline-delimiter,
.handlebars .CodeRay .inline .delimiter {
  color: #00aa00; }
/* line 103, highlight.css.scss */
.handlebars .CodeRay .inline .attribute-name {
  color: #007700; }
/* line 107, highlight.css.scss */
.handlebars .CodeRay .inline .attribute-value,
.handlebars .CodeRay .inline .content {
  color: #004400; }

/* line 10, all.scss */
* {
  box-sizing: border-box; }

/* line 14, all.scss */
html {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 1000, color-stop(0%, #d6effc), color-stop(100%, #00a9a9));
  background-image: -webkit-linear-gradient(#d6effc, #00a9a9 1000px);
  background-image: -moz-linear-gradient(#d6effc, #00a9a9 1000px);
  background-image: -o-linear-gradient(#d6effc, #00a9a9 1000px);
  background-image: linear-gradient(#d6effc, #00a9a9 1000px);
  background-color: #00a9a9; }

/* line 19, all.scss */
body {
  margin: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

/* line 24, all.scss */
header {
  background: url(/images/logo.png) no-repeat center;
  height: 150px;
  background-size: auto 100%;
  text-indent: 100%; }

/* line 31, all.scss */
h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold; }

/* line 37, all.scss */
strong {
  font-weight: bold; }

/* line 41, all.scss */
#content {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px; }
  /* line 50, all.scss */
  #content .blurb {
    width: 100%;
    background-color: #a6e6e6;
    color: #022;
    margin: 0 auto 20px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 150%; }
    /* line 60, all.scss */
    #content .blurb p {
      margin: 0; }
    /* line 64, all.scss */
    #content .blurb p + p {
      margin-top: 18px; }
  /* line 69, all.scss */
  #content code {
    font-family: Menlo, Monaco, monospace;
    font-size: 100%;
    color: #577;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px; }
  /* line 79, all.scss */
  #content h2 {
    color: #255;
    margin-top: 20px;
    border-bottom: 2px solid #699;
    padding: 0 5px 5px 5px;
    font-size: 20px;
    font-weight: bold; }
  /* line 88, all.scss */
  #content p {
    margin: 10px 0;
    line-height: 150%; }
  /* line 93, all.scss */
  #content img {
    width: 100%;
    background-color: #fff;
    border: 1px solid #00a9a9;
    border-radius: 10px;
    box-shadow: 0 0 5px #00a9a9; }
  /* line 101, all.scss */
  #content .diagram {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1); }
    /* line 107, all.scss */
    #content .diagram svg {
      display: block;
      margin: 0 auto; }
  /* line 113, all.scss */
  #content .CodeRay td.code {
    background-color: rgba(255, 255, 255, 0.7); }
  /* line 117, all.scss */
  #content li {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 24px;
    color: #699; }
    /* line 123, all.scss */
    #content li::first-line {
      color: #366; }
    /* line 127, all.scss */
    #content li strong {
      padding: 5px;
      font-family: Menlo, Monaco, monospace;
      font-weight: bold;
      color: #144; }
